//$font-stack:    Helvetica, sans-serif;
$primary-color: #ddd;

.pageHeader {
  //font: 100% $font-stack;
  background-color: $primary-color;
}

.footer {
    //font: 100% $font-stack;
    background-color: $primary-color;
}


//$navbar-height: 5.0rem;

@import "../../node_modules/bulma/bulma.sass";